<style>
    .menu-btn {
        color: #040008;
        font-weight: bolder;
        border: none;
    }

    .menu-btn1 {
        color: #FFFFFF;
        font-weight: bolder;
        border: none;
    }

    .dropdown-menuex {
        position: relative;
        display: inline-block;
    }
    .dropdown-menu1 {
        position: relative;
    }
    .menu-contentex {
        display: none;
        position: absolute;
        background-color: #040008;
        min-width: 160px;
        z-index: 1;
    }
    .menu-content1 {
        display: none;
        position: absolute;
        background-color: #040008;
        min-width: 160px;
        z-index: 1;
    }

    .links,.links-hidden{

        color: rgb(255, 255, 255);
        padding: 12px 16px;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
    }
    .links-hidden{
        display: block;
    }
    .links{
        display: inline-block;
    }
    .links-hidden:hover,.links:hover {
        background-color: rgb(8, 107, 46);
    }
    .dropdown-menuex:hover .menu-contentex {
        display: block;
    }
    .dropdown-menuex:hover .menu-btn {
        background-color: #3e8e41;
    }
    .dropdown-menu1:hover .menu-content1 {
        display: block;
    }
    .dropdown-menu1:hover .menu-btn {
        background-color: #3e8e41;
    }

</style>

<nav class="navbar navbar-expand-lg text-navbar-dark-color bg-navbar-light-color">
    <div class="container-fluid">
        <div class="btn-group">
            <img src="{{ url_for('static', filename='assets/vintage-illustration-of-a-brain.jpg') }}" width="50" height="50" class="d-inline-block align-center" alt="">
            <a class="navbar-brand" href="{{ url_for('index') }}">MyMind</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="dropdown-menu1">
                <a class="menu-btn1">Games</a>
            <div class="menu-content1">
                <a class="nav-link" href="{{ url_for('games') }}">Avoid the Blue Block</a>
                <a class="nav-link" href="{{ url_for('game1') }}">Snake Game</a>
                <a class="nav-link" href="{{ url_for('game2') }}">Flappy</a>
            </div>
        </div>
        <a class="nav-link" href="{{ url_for('music') }}">Music</a>
        <a class="nav-link" href="{{ url_for('api') }}">Info</a>
        <a class="nav-link" href="{{ url_for('art.art') }}">Draw</a>



        {#    THE BELOW TWO LINES ARE TEMPORARY UNTIL THE DROPDOWN WORKS#}
        <a class="nav-link" href="{{ url_for('notes.notes') }}">Journal</a>
        <a class="nav-link" href="{{ url_for('burnbook') }}">Burn Book</a>
        <a class="nav-link" href="{{ url_for('meditate') }}">Meditation</a>
{#
#}



        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                <a class="nav-link" href="{{ url_for('gmap') }}">Map</a>


                {% else %}
                <a class="nav-link" href="{{ url_for('main_login') }}">Map</a>
                {% endif %}
            </div>

            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->

            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->

        </div>

        <div class="btn-group">
            <script async src="https://cse.google.com/cse.js?cx=c34a1f44743fb5273"></script>
            <div class="gcse-search"></div>
            <!-- Clock display -->
            <div class="px-3 text-navbar-dark-color">
                <span id="clock"></span>
            </div>
            <!-- Dark mode action -->
            <div class="form-check form-switch">
                <input type="checkbox" onclick="darkFunction()" class="form-check-input" id="darkSwitch">
                <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
            </div>

            {% if current_user.is_authenticated %}

            <div class="dropdown-menuex">
                <button class="menu-btn">{{current_user.name}} </button>
                <div class="menu-contentex">
                    <a class="links-hidden" href="{{ url_for('crud.crud') }}">Admin Page</a>
                    <a class="links-hidden" href="{{ url_for('crud.search') }}">Database Search</a>
                    <a class="links-hidden" href="{{ url_for('main_logout') }}">Logout</a>
                </div>
            </div>

            {% else %}
            <a class="nav-link" href="{{ url_for('main_login') }}" ><button class="btn btn-danger">Login</button></a>
            {% endif %}

        </div>

        {% block navbar_script %}
        <!-- Navigation bar JavaScript support -->
        <script src={{  url_for("static", filename="javascript/navbar.js", version='140') }}></script>
        {% endblock %}

    </div>
</nav>
