{% extends "layout.html" %}

    {% block title %}
        <title>Drawing for {{ user.name }}</title>
    {% endblock %}

    {% block content %}
        <style>
            #theCanvas {
                height: 400px;
                width: 1300px;
                background: white;
            }
            .clearButton {background-color: #b99f7a;} /* Tan */

            body {
                background: #eee;
            }
            h2 {
                background: rgba(0,0,0,0.4);
                color: rgb(255,255,255);
            }
            p{
                background: rgba(0,0,0,0.4);
                color: rgb(255,255,255);
            }
            table { background: rgba(0,0,0,0.2); }
            tr { background: rgba(0,0,0,0.2); }
            td { background: rgba(0,0,0,0.2); }
        </style>
        <div class="container">
        <div id="video_wrapper">
            <video autoplay loop>
                <source src="https://drive.google.com/uc?export=view&id=1G-m-iQQlkUODRgaMEpqSUYftLSNev--S" type="video/mp4">
            </video>
        </div>
        <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom border-primary text-dark">
                <h2>{{ user.name }}'s Drawing</h2>
            </header>
            <p class="pb-3 mb-4 border-bottom border-primary text-white" style="width: 600px; left: 310px; top: 200px;">Drawing can help reduce stress!</p>

        </div>
        <div class="row justify-content-center align-content-center">
        <div class="col-sm-12">
        <form style="left: 300px; top: 300px;" id="upload" enctype="multipart/form-data" action = "{{url_for('art.upload')}}" method = "POST">
            <table class="table">
                <thead>
                <tr>
                    <th><label for="filename" style="background: rgba(0,0,0,0.4); color: rgb(255,255,255);">Create a new drawing:</label></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <canvas id="theCanvas"></canvas>
                        <div>
                            <button class="button clearButton" id="clearButton">Clear</button>
                            <button><a href="#" onclick="prepDownload(this, document.getElementById('theCanvas'), 'imgName.png')">Save your drawing</a></button>
                            <input type="file" id="filename" name="filename" />
                            <input type="submit" value="Upload" >


                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
            <form method="POST" ID="delete" action={{url_for('art.delete')}} >
                <div style="width: 700px;height: 780px; top: 168px; left: 1000px; ">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            {% for file in files %}
                                <tr>
                                    <td><image src="{{ file }}" style="width: 400px;"></image></td>
                                    <td><input type="submit" value="delete"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        </div>
        </div>
        <script>
            const MAIN_MOUSE_BUTTON = 0;
            function prepDownload(a, canvas, name) {
                a.download = name
                a.href = canvas.toDataURL()
            }
            function prepareContext(canvasElement) {
                let dpr = window.devicePixelRatio || 1;
                let rect = canvasElement.getBoundingClientRect();
                canvasElement.width = rect.width * dpr;
                canvasElement.height = rect.height * dpr;

                let context = canvasElement.getContext("2d");
                context.scale(dpr, dpr);

                return context;
            }

            function setLineProperties(context) {
                context.lineWidth = 4;
                context.lineJoin = "round";
                context.lineCap = "round";
                return context;
            }

            let clearButton = document.getElementById("clearButton");
            let theCanvas = document.getElementById("theCanvas");
            let theContext = prepareContext(theCanvas);
            let shouldDraw = false;

            theCanvas.addEventListener("mousedown", start);
            theCanvas.addEventListener("mouseup", end);
            theCanvas.addEventListener("mousemove", move, false);

            clearButton.addEventListener("click", event => {
                clearCanvas(theContext);
            });


            function clearCanvas(context) {
                context.clearRect(0, 0, context.canvas.width, context.canvas.height);
            }

            function start(event) {
                if (event.button === MAIN_MOUSE_BUTTON) {
                    shouldDraw = true;
                    setLineProperties(theContext);

                    theContext.beginPath();

                    let elementRect = event.target.getBoundingClientRect();
                    theContext.moveTo(event.clientX - elementRect.left, event.clientY - elementRect.top);
                }
            }

            function end(event) {
                if (event.button === MAIN_MOUSE_BUTTON) {
                    shouldDraw = false;
                }
            }

            function move(event) {
                if (shouldDraw) {
                    let elementRect = event.target.getBoundingClientRect();
                    theContext.lineTo(event.clientX - elementRect.left, event.clientY - elementRect.top);
                    theContext.stroke()
                }
                document.getElementById('save').onclick = function () {
                    window.location = document.getElementById("art").toDataURL('image/png');
                };
                async function downloadCanvas(el) {
                    const imageURI = canvas.toDataURL("image/jpg");
                    el.href = imageURI;
                };
            }</script>

{% endblock %}
