{% extends 'layout.html' %}

{% block title %}
<title>Notes</title>
{% endblock %}

{% block content %}
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom border-primary text-dark">
        <span class="fs-4">Vent Journal</span>
    </header>
    <p class="pb-3 mb-4 border-bottom border-primary text-dark" style="width: 600px; left: 310px; top: 200px;">[Users can vent out any feelings from everyday life whenever and wherever they feel like it. All information will be saved and users can be ensured that their information is private and secured as soon as they login.]</p>

</div>
    <form class="container py-4" style="left: 300px; top: 300px;" enctype="multipart/form-data" method="POST" ID="create" action={{url_for('notes.create')}}>
        <table class="table">
            <thead>
            <tr>
                <th><label for="notes">Create a new note:</label></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="file" id="filename" name="filename" /></td>
            </tr>
            <tr>
                <td><textarea style="width: 600px;" rows = "10" cols = "100%" name = "notes" id="notes" required></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add" ></td>
            </tr>
            </tbody>

        </table>
    </form>



<div style="position: absolute;width: 775px;height: 780px; top: 160px; left: 1000px;" class="container py-4 text-light bg-success">
    <div class="container bg-secondary py-4">
        <div class="p-5 mb-4 bg-light text-dark rounded-3">
            <h2>Notes for {{ user.name }}</h2>
            <hr>
            <!--Notes input form, textarea supports multiple lines of input  -->

            <hr>
            <!--Notes output area, Jinja lines iterate through notes,
                note.note is html converted from markdown -->
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    {% for note in notes %}
                        {% if note.image %}
                            <tr>
                                <td>{{ note.image }}</td>
                            </tr>
                            <tr>
                                <td><image src="{{ url_for('uploads_endpoint', name=note.image) }}" width="150px"></image></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>{{ note.note | safe }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}