{% extends "layout.html" %}

{% block content %}
    <style>
        h1{
            width: 576px;
            height: 94px;

            font-family: 'Righteous';
            font-style: normal;
            font-weight: 400;
            font-size: 60px;
            line-height: 75px;
        }
    </style>
    <div id="video_wrapper">
        <video autoplay loop>
            <source src="https://drive.google.com/uc?export=view&id=1T8uk5L3jGzGkBMN-vTOxPnQOLI3qB152" type="video/mp4">
        </video>
    </div>

    <center><h1>404 ERROR</h1></center>

    <div class="jumbotron jumbotron-fluid" style="text-align: center; ">
        <h2>Engineering is on the case!</h2>
        <a href="/">Go Home</a>
    </div>
{% endblock %}