{% extends "layout.html" %}

{% block meta %}
<title>Google Map</title>
{% endblock %}

{% block content %}
<style>
    h1 {
        width: 576px;
        height: 94px;

        font-family: 'Righteous';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 75px;

        color: #9C9C9C;
    }
</style>

<center>
    <h1>
        Therapist Near You
    </h1>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13381.121730992692!2d-117.13691915!3d33.02274155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1649547417678!5m2!1sen!2sus"  width="1500" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</center>



{% endblock %}