{% extends "layout.html" %}

{% block meta %}
<title>Google Map</title>
{% endblock %}

{% block content %}
<style>
    h1 {
        width: 576px;
        height: 94px;

        font-family: 'Righteous';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 75px;

        color: #9C9C9C;
    }
    .buttongmap {
        width: 180px;
        height: 45px;

        background: #6886A1;
        border-radius: 24px;

        position: absolute;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;

        color: #E5E5E5;

    }


</style>

<center><script async src="https://cse.google.com/cse.js?cx=4a6201d4dfb583e6a"></script>
    <div class="gcse-search"></div></center>

    <h1>
        Therapist Near You
    </h1>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13381.121730992692!2d-117.13691915!3d33.02274155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1649547417678!5m2!1sen!2sus"  width="1500" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<div class="dropdown-menu">
    <button class="menu-btn">Therapists</button>
    <div class="menu-content">
        <a class="links-hidden" href="https://www.google.com/maps/place/Elevate+Therapy+Psychological+Services/@33.0283195,-117.1146981,15z/data=!3m1!5s0x80dbf72bafaeaa3d:0x431aa384c6b17370!4m9!1m2!2m1!1stherapist!3m5!1s0x80dbf7ebcc49535d:0x8c7b093b5bf7d9be!8m2!3d33.0223892!4d-117.0828559!15sCgl0aGVyYXBpc3RaCyIJdGhlcmFwaXN0kgEMcHN5Y2hvbG9naXN0mgEkQ2hkRFNVaE5NRzluUzBWSlEwRm5TVU00YlRZeVJHdG5SUkFC">Therapist #1</a>
        <a class="links-hidden" href="https://www.google.com/maps/place/Positive+Change+Counseling+Center/@33.0283195,-117.1146981,15z/data=!3m1!5s0x80dbf72c9e3c5567:0x19389120001bd292!4m9!1m2!2m1!1stherapist!3m5!1s0x80dbf7628ead2f21:0x76548fa85436153a!8m2!3d33.02059!4d-117.0812184!15sCgl0aGVyYXBpc3RaCyIJdGhlcmFwaXN0kgEUbWVudGFsX2hlYWx0aF9jbGluaWOaASRDaGREU1VoTk1HOW5TMFZKUTBGblNVTTJOR1JYTTNwblJSQUI">Therapist #2</a>
        <a class="links-hidden" href="https://www.google.com/maps/place/Deborah+Moyer,+LMFT/@33.0283195,-117.1146981,15z/data=!3m1!5s0x80dbf72bafaeaa3d:0x431aa384c6b17370!4m9!1m2!2m1!1stherapist!3m5!1s0x80dbf72ba6964af7:0x24237324143c33c6!8m2!3d33.0218296!4d-117.0826598!15sCgl0aGVyYXBpc3SSAQljb3Vuc2Vsb3I">Therapist #3</a>
        <a class="links-hidden" href="{{ url_for('crud.logout') }}">Logout</a>
    </div>
</div>
{% endblock %}