{% extends "layout.html" %}

{% block meta %}
    <title>Teen Health Quiz</title>
{% endblock %}

{% block content %}
<style>
    body {
        text-align: center;
    }
    h1{
        font-weight: 300;
        margin: 0px;
        padding: 10px;
        font-size: 20px;
        background-color: #444;
        color: #fff;
    }
    .question{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .answers {
        margin-bottom: 20px;
        text-align: left;
        display: inline-block;
    }
    .answers label{
        display: block;
        margin-bottom: 10px;
    }
    button{
        font-size: 22px;
        background-color: #4e5f65;
        color: #fff;
        border: 0px;
        border-radius: 3px;
        padding: 20px;
        cursor: pointer;
        margin-bottom: 20px;
    }
    button:hover{
        background-color: #4e5f65;
    }

    .slide{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.5s;
    }
    .active-slide{
        opacity: 1;
        z-index: 2;
    }
    .quiz-container{
        position: relative;
        height: 200px;
        margin-top: 40px;
    }
</style>
<body>
<h1>Teen Health Quiz</h1>
<div class="quiz-container">
    <div id="quiz"></div>
</div>
<button id="previous">Previous Question</button>
<button id="next">Next Question</button>
<button id="submit">Submit Quiz</button>
<div id="results"></div>
</body>
<script>
    (function(){
        function buildQuiz(){
            // variable stores HTML output
            const output = [];

            // per question
            myQuestions.forEach(
                (currentQuestion, questionNumber) => {

                    // variable to store list of possible answers
                    const answers = [];

                    for(letter in currentQuestion.answers){

                        answers.push(
                            `<label>
              <input type="radio" name="question${questionNumber}" value="${letter}">
              ${letter} :
              ${currentQuestion.answers[letter]}
            </label>`
                        );
                    }

                    // adds question and answers to output
                    output.push(
                        `<div class="slide">
            <div class="question"> ${currentQuestion.question} </div>
            <div class="answers"> ${answers.join("")} </div>
          </div>`
                    );
                }
            );

            // combines output list into one string of HTML and displays
            quizContainer.innerHTML = output.join('');
        }

        function showResults(){

            // gather answer containers from quiz
            const answerContainers = quizContainer.querySelectorAll('.answers');

            // keeps track of user's answers
            let numCorrect = 0;

            // per question
            myQuestions.forEach( (currentQuestion, questionNumber) => {

                // finds the answer the user selected
                const answerContainer = answerContainers[questionNumber];
                const selector = `input[name=question${questionNumber}]:checked`;
                const userAnswer = (answerContainer.querySelector(selector) || {}).value;

                // if the user's answer is correct...
                if(userAnswer === currentQuestion.correctAnswer){
                    // add to the number of correct answers
                    numCorrect++;

                    // color the answers green!
                    answerContainers[questionNumber].style.color = 'lightgreen';
                }
                // if answer is wrong or blank...
                else{
                    // color the answers red!
                    answerContainers[questionNumber].style.color = 'red';
                }
            });

            // shows number of correct answers out of total
            resultsContainer.innerHTML = `${numCorrect} out of ${myQuestions.length}`;
        }

        function showSlide(n) {
            slides[currentSlide].classList.remove('active-slide');
            slides[n].classList.add('active-slide');
            currentSlide = n;
            if(currentSlide === 0){
                previousButton.style.display = 'none';
            }
            else{
                previousButton.style.display = 'inline-block';
            }
            if(currentSlide === slides.length-1){
                nextButton.style.display = 'none';
                submitButton.style.display = 'inline-block';
            }
            else{
                nextButton.style.display = 'inline-block';
                submitButton.style.display = 'none';
            }
        }

        function showNextSlide() {
            showSlide(currentSlide + 1);
        }

        function showPreviousSlide() {
            showSlide(currentSlide - 1);
        }

        const quizContainer = document.getElementById('quiz');
        const resultsContainer = document.getElementById('results');
        const submitButton = document.getElementById('submit');
        const myQuestions = [
            {
                question: "How much sleep should the average teen get every night?",
                answers: {
                    a: "6-8 hours",
                    b: "8-10 hours",
                    c: "10-12 hours"
                },
                correctAnswer: "b"
            },
            {
                question: "What is not a good mindful activity?",
                answers: {
                    a: "Doing yoga and/or meditation",
                    b: "Going on a walk outside",
                    c: "Scrolling through social media"
                },
                correctAnswer: "c"
            },
            {
                question: "What is a good way to study?",
                answers: {
                    a: "Activly study while taking breaks",
                    b: "Study for as long as possible",
                    c: "Study by reading over old notes",
                },
                correctAnswer: "a"
            },
        ];

        buildQuiz();

        const previousButton = document.getElementById("previous");
        const nextButton = document.getElementById("next");
        const slides = document.querySelectorAll(".slide");
        let currentSlide = 0;

        showSlide(currentSlide);

        submitButton.addEventListener('click', showResults);
        previousButton.addEventListener("click", showPreviousSlide);
        nextButton.addEventListener("click", showNextSlide);
    })();
</script>
</html>
<!-- credits:https://www.sitepoint.com/simple-javascript-quiz/ https://www.vocaboly.com/vocabulary-test/sat10.php -->
{% endblock %}