{% extends "layout.html" %}
{% block content %}
<style>
    h1 {
        width: 576px;
        height: 94px;

        font-family: 'Righteous';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 75px;

        color: #9C9C9C;
    }
</style>
    <h1> Meditate </h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/inpok4MKVLM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>    {% endblock %}
